<div class="user-profile" *ngIf="auth.user$ | async as user">
  <div class="user-picture">
    <img src="{{ user.picture }}" />
  </div>
  <div class="user-info">
    <p>Name: {{ user.given_name }} {{ user.family_name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
</div>
<div class="admin-section">
  <button (click)="checkIsAdmin(userId)">Edit Donation Amount</button>
  <div class="donation-amount" *ngIf="isAdmin">
    <input type="radio" name="amount" value="10" checked />$10
    <input type="radio" name="amount" value="20" />$20
    <input type="radio" name="amount" value="30" />$30
    <input type="radio" name="amount" value="40" />$40
  </div>
</div>
