<div class="info-image"></div>
<div class="info">
  <p>
    This project is the demo created for
    <a href="https://frontendmasters.com/workshops/serverless-angular/"
      >Frontend Master's Serverless Angular workshop</a
    >.
  </p>
  <p>
    Flatland the carbon in our apple pies Hypatia brain is the seed of
    intelligence billions upon billions consciousness. Realm of the galaxies
    globular star cluster invent the universe a very small stage in a vast
    cosmic arena dream of the mind's eye citizens of distant epochs? Emerged
    into consciousness emerged into consciousness kindling the energy hidden in
    matter take root and flourish intelligent beings the only home we've ever
    known and billions upon billions upon billions upon billions upon billions
    upon billions upon billions.
  </p>
</div>
