<nav>
  <ul>
    <li>
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="about">About</a>
    </li>
    <li>
      <a routerLink="donate">Donate</a>
    </li>
    <li>
      <a routerLink="account">Account</a>
    </li>
    <li>
      <button
        *ngIf="auth.isAuthenticated$ | async; else loggedOut"
        (click)="logout()"
      >
        Log out
      </button>
    </li>
  </ul>
</nav>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>
